<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareDome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81AC354A1C16B7CA004C4160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81AC35691C16B7CA004C4160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81AC35741C16B7CA004C4160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
